<div class="container" *ngIf="product" >
<div class="row justify-content-md-center">
  <div class="col-6 mt-5">
    <div class="card card-flat">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="card-img">
              <img src="{{product.imageURL}}" alt="{{product.name}}" width="300" height="300">
            </div>
          </div>
          <div class="col align-self-center">
            <h4 class="card-title">{{product.name}}</h4>
            <p class="card-text">{{product.category.name}}</p>
            <p class="card-text">${{product.price}}</p>
            <p class="card-text">{{product.code}}</p>
            <p class="card-text">{{product.description}}</p>
            <br>
            <button type="button" class="btn btn-success" (click)="onClick($event)">ADD TO CART</button>
          </div>
        </div>
       </div>
      </div>
    </div>
  </div>
</div>